body, html {
  height: 100%;
}

h1 {
	color: white;
	text-align: center;
}

h2 {
  text-align: center;
  padding-top: 5vh;
  color: grey;
}

p {
	text-align: center;
  color: grey;
}

img {
	width: 100%;
}

footer {
  display: block;
  width: 100%;
  text-align: center;
  color: grey;
  padding-top: 10px;
}


.headerDiv {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  background-image: url(../img/home-page-landscape-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 62px;
  font-family: verdana;
  font-weight: normal;
}

.landing-page-header {
  text-decoration: underline;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: grey;
}

.feature-card {
  box-shadow: 8px 0 8px 0 rgba(0, 0, 0, 0.2), 8px 0 20px 0 rgba(0, 0, 0, 0.19);
}



/* NAV BAR STYLE */
.topNav {
  background-color: ;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  height: 45px;
  padding: 10px;
}

.topNav #links {
  display: none;
  float: right;
}

.topNav a {
  float: left;
  color: #808080;
  margin: 0px 5px;
  text-decoration: none;
  font-size: 16px;
}

.topNav a.icon {
  float: right;
}

.topNav a:hover {
  color: black;
}

a.active, .current-active {
  color: black;
}

.icon {
  height: 48px;
  margin: none;
}

.topNav a.icon {
  margin: 0px;
  color: black;
} 

.topnav .current-active {
  float: left;
}



/* PORTFOLIO IMAGES */
.slide-container {
  position: relative;
  top: 0;
  margin-left: 5vw;
  width: 90vw;
}

.gallery-row {
  align-items: center;
  bottom: 10%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  height: 80vh;
  min-height: 400px;
  position: sticky;
  width: 100%;
  background-color: white;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-row:nth-child(2) {
  background-color: white;
  z-index: 4;
}

.gallery-row:nth-child(3) {
  background-color: white;
  z-index: 3;
}

.gallery-row:nth-child(4) {
  background-color: white;
  z-index: 2;
}

.gallery-row:nth-child(5) {
  background-color: white;
  z-index: 1;
}

#portfolio-info {
  background-color: #ffe6e6;
  display: block;
}

.portfolio-slide-text {
  padding-top: 2vh;
  text-align: center;
}

.portfolio-heading {
  width: 100%;
  font-size: 1.5rem;
  padding: 0;
}

.portfolio-text {
  font-size: 16px;
  margin: 1vw;
}

.portfolio-img {
  object-fit: cover;
  object-position: center;
  max-height: 40vh;
}

.spacer {
  height: 25vh;
  width: 100%;
  display: block;
  position: relative;
}



/* TEXT STYLING */
.imgDescrip {
	text-align: justify;
	font-size: 20px;
	padding: 5px;
}

.gallerySelector:hover img {
  opacity: 0.7;
  border: inset;
}

.gallerySelector:hover .buttonText {
  display: block;
}

.gallerySelector:hover .imgDescrip {
  opacity: 0.7;
}

.gallerySelector:hover h2 {
  opacity: 0.7;
}

.gallerySelector:hover .middle {
  display: block;
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  font-size: 16px;
}

.buttonText {
  background-color: lightgrey;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 32px;
}

#landing-page-buttons {
  position: relative;
  width: 90%;
  margin: auto;
  height: auto;
}

.btn {
  width: 10vw;
  height: 5vh;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}




/* IMAGE STYLING */
.gallerySelector{
	margin: 0px;
  width: 100%;
}

.gallery-img {
  position: relative;
  align-content: center;
}

.image {
	position: relative;
	width: 100%;
	background-color: lightgrey;
}

.centreCropped {
  object-fit: cover;
  object-position: center;
  height: 50vh; 
}




/* CONTACT FORM */
input, textarea {
  padding: 1vh 1vw;
  margin: 2px 0;
  border: none;
  text-align: center;
  width: 80%;
  font-size: 14px;
}


#Submit:hover {
background-color: grey
}


.contactFormBox {
  width: 100%;
  height: 75%;
  min-height: 450px;
  background-color: #f2f2f2;
  background-image: url(../img/engagement/engagement-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contactFormInfo {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  float: none;
  background-color: #f2ffe6;
  text-align: center;
  font-family: arial;
  font-size: 20px;
  color: #333333;
  opacity: 0.8;
}

.contactFormDivider {
  width: 100%;
  height: 10px;
}

.socials {
  text-align: center;
  padding: 10px;
  margin: auto;
}

.fa {
  padding: 5px;
}

.fa-instagram {
  text-align: center;
  text-decoration: none;
  width: 60px;
  margin: 5px;
  color: black;
}

.fa:hover, .contactForm a:hover {
  text-decoration: none;
  opacity: 0.3;
}

.contactFormBlank {
  background-color: white;
  width: 100%;
}





/* IMAGE GALLERIES */

.gallery-section {
  width: 100%;
  height: auto;
  float: left;
}

.gallery-container {
  position: relative;
  width: 75%;
  height: auto;
  float: left;
  left: 12.5%;
  background-color: ;
  padding: 10px;
}
.photowall-item {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding-top: 1px;
}

.photowall-item:hover {
  opacity: 0.5;
}

.photos {
  line-height: 1px;
  -webkit-column-count: 3;
  -webkit-column-gap:   1px;
  -moz-column-count:    3;
  -moz-column-gap:      1px;
  column-count:         3;
  column-gap:           1px; 
}

@media (max-width: 1000px) {
  .photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 800px) {
  .photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}




/* RESPONSIVE */

@media (min-width: 700px){ 

  .topNav a {
    font-size: 18px;
  }

  .contactFormBox {
    width: 95%;
  }

  .contactFormInfo {
    width: 40%;
    height: 100%;
    float: right;
  }

  .portfolio-slide-text {
    padding-top: 0;
  }

  .portfolio-info {
    height: 60vh;
    margin-top: 10vh;
  }

  .portfolio-heading {
    font-size: 2.0rem;
  }

  .portfolio-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px){

  .gallery-row {
    font-size: 22px;
  }

  .portfolio-slide-text {
    padding-top: 30%;
  }

  .portfolio-img {
    max-height: 75vh;
  }

  .portfolio-heading {
    font-size: 2.2rem;
  }

  .portfolio-text {
    font-size: 1.0rem;
  }

}

@media (min-width: 1100px){ 


}